<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gy.room.mapper.RoomMapper">
  <resultMap id="BaseResultMap" type="com.gy.room.model.Room">
    <id column="room_id" jdbcType="VARCHAR" property="roomId" />
    <result column="apartment_id" jdbcType="VARCHAR" property="apartmentId" />
    <result column="apartment_num" jdbcType="VARCHAR" property="apartmentNum" />
    <result column="room_num" jdbcType="VARCHAR" property="roomNum" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    room_id, apartment_id, apartment_num, room_num
  </sql>
  <select id="selectByExample" parameterType="com.gy.room.model.RoomExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from gy_room
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
    <if test="limit != null">
      <if test="offset != null">
        limit ${offset}, ${limit}
      </if>
      <if test="offset == null">
        limit ${limit}
      </if>
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from gy_room
    where room_id = #{roomId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from gy_room
    where room_id = #{roomId,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.gy.room.model.RoomExample">
    delete from gy_room
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.gy.room.model.Room">
    insert into gy_room (room_id, apartment_id, apartment_num, 
      room_num)
    values (#{roomId,jdbcType=VARCHAR}, #{apartmentId,jdbcType=VARCHAR}, #{apartmentNum,jdbcType=VARCHAR}, 
      #{roomNum,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.gy.room.model.Room">
    insert into gy_room
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="roomId != null">
        room_id,
      </if>
      <if test="apartmentId != null">
        apartment_id,
      </if>
      <if test="apartmentNum != null">
        apartment_num,
      </if>
      <if test="roomNum != null">
        room_num,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="roomId != null">
        #{roomId,jdbcType=VARCHAR},
      </if>
      <if test="apartmentId != null">
        #{apartmentId,jdbcType=VARCHAR},
      </if>
      <if test="apartmentNum != null">
        #{apartmentNum,jdbcType=VARCHAR},
      </if>
      <if test="roomNum != null">
        #{roomNum,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.gy.room.model.RoomExample" resultType="java.lang.Long">
    select count(*) from gy_room
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update gy_room
    <set>
      <if test="record.roomId != null">
        room_id = #{record.roomId,jdbcType=VARCHAR},
      </if>
      <if test="record.apartmentId != null">
        apartment_id = #{record.apartmentId,jdbcType=VARCHAR},
      </if>
      <if test="record.apartmentNum != null">
        apartment_num = #{record.apartmentNum,jdbcType=VARCHAR},
      </if>
      <if test="record.roomNum != null">
        room_num = #{record.roomNum,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update gy_room
    set room_id = #{record.roomId,jdbcType=VARCHAR},
      apartment_id = #{record.apartmentId,jdbcType=VARCHAR},
      apartment_num = #{record.apartmentNum,jdbcType=VARCHAR},
      room_num = #{record.roomNum,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.gy.room.model.Room">
    update gy_room
    <set>
      <if test="apartmentId != null">
        apartment_id = #{apartmentId,jdbcType=VARCHAR},
      </if>
      <if test="apartmentNum != null">
        apartment_num = #{apartmentNum,jdbcType=VARCHAR},
      </if>
      <if test="roomNum != null">
        room_num = #{roomNum,jdbcType=VARCHAR},
      </if>
    </set>
    where room_id = #{roomId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.gy.room.model.Room">
    update gy_room
    set apartment_id = #{apartmentId,jdbcType=VARCHAR},
      apartment_num = #{apartmentNum,jdbcType=VARCHAR},
      room_num = #{roomNum,jdbcType=VARCHAR}
    where room_id = #{roomId,jdbcType=VARCHAR}
  </update>
</mapper>